{% extends "layouts/main.html" %}




{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "#"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers before sending your application</h1>

    

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Destination"
            },
            value: {
              text: data['whereWillYouGo'] or "Destination not chosen"
            },
            actions: {
              items: [
                {
                  href: "question",
                  text: "Change",
                  visuallyHiddenText: "destination"
                }
              ]
            }
          },
          {
            key: {
              text: "Full name"
            },
            value: {
              text: data['fullName'] or "Name not given"
            },
            actions: {
              items: [
                {
                  href: "name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: 
                    (data['addressLine1'] or "Address not given") + "<br>" +
                    (data['addressLine2'] or "") + "<br>" +
                    (data['addressTown'] or "Town not provided") + "<br>" +
                    (data['addressCounty'] or "") + "<br>" +
                    (data['addressPostcode'] or "Postcode not given")
                      },
            actions: {
              items: [
                {
                  href: "address",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          }
        ]
      }) }}

      

      <h2 class="govuk-heading-m">Now send your application</h2>

      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/confirmation" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}


