{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="destination-answer" method="post">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Where would you like to go?
              </h1>
            </legend>
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereWillYouGo" name="whereWillYouGo" type="radio" value="Moon">
                <label class="govuk-label govuk-radios__label" for="whereWillYouGo">
                  Moon
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="whereWillYouGo-2" name="whereWillYouGo" type="radio" value="Mars">
                <label class="govuk-label govuk-radios__label" for="whereWillYouGo-2">
                  Mars
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
